@model EasyHesapOnlineTicariOtomasyon.Models.Classes.Kategori
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Yeni Kategori Ekleme Sayfası</h2>
<br />
<form class="form-group" method="post">
    <label for="">Kategori Adı</label>
    @*@Html.LabelFor(x => x.KategoriAd)*@
    @Html.TextBoxFor(x => x.KategoriAd, new { @class = "form-control" })
    <br />
    <button class="btn btn-outline-danger" onclick="uyarı()">Kaydet</button>
</form>
<script>
    function uyarı() {
        alert("Kategori Eklendi")

        var message = "@TempData["KategoriKaydetMesaj"]";
        TempData.Remove("KategoriKaydetMesaj");

        if (message !== "") {
            $("#popupMessage p").text(message); 
            $("#popupMessage").removeClass("hidden"); 
        }
    }
</script>
