@model EasyHesapOnlineTicariOtomasyon.Models.Classes.Kategori
@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Kategori Güncelleme Sayfası</h2>
<br />
@using (Html.BeginForm("KategoriGuncelle", "Kategori", FormMethod.Post))
{
    <div class="form-group">
        <label for="">Kategori Adı</label>
        @*@Html.LabelFor(x => x.KategoriAd)*@
        @Html.TextBoxFor(x => x.KategoriAd, new { @class = "form-control" })
        @Html.HiddenFor(x => x.Kategoriid)
    </div>
   <button class="btn btn-warning" onclick="uyarı()">Güncelle</button>
}
<script>
    function uyarı() {
        alert("Kategori Güncellendi")

        var message = "@TempData["KategoriKaydetMesaj"]";
        TempData.Remove("KategoriKaydetMesaj");

        if (message !== "") {
            $("#popupMessage p").text(message);
            $("#popupMessage").removeClass("hidden");
        }
    }
</script>